<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Own CSS -->
    <link rel="stylesheet" href="indexStyle.css">

    <!-- VUE JS -->
    <script src="https://unpkg.com/vue"></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  </head>
  <body>

    <div id="v">

      <!-- Navbar -->
      <div class="head">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Online Library</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Browse Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Interior</a>
                  <a class="dropdown-item" href="#">Exterior</a>
                  <a class="dropdown-item" href="#">Engine</a>
                </div>
              </li> -->
              <div v-if="carts.length > 0">
                <li class="nav-item active">
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#modalCart">View Cart</a>
                </li>
              </div>
              <div v-if="address !== ''">
                <li class="nav-item active">
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#modalHistories" >View Purchase Histories</a>
                </li>
              </div>
              <div v-if="idUser === ''">
                <li class="nav-item active">
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLogin" >Log me in</a>
                </li>
              </div>
            </ul>
          </div>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="main-jumbotron">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <div class="row justify-content-center">
              <h1 class="display-3">Welcome to Online Library</h1>
              <p class="lead">Borrow now and get your book delivered in front of your doorstep!</p>
            </div>
            <div class="row justify-content-center">
              <a href="#bookCollections">View Collections</a></button>
            </div>
          </div>
        </div>
      </div>

      <!-- Books item -->
      <div class="main-interior" id="bookCollections">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-12">
              <h3>Book Collections</h3>
            </div>
          </div>
          <!-- ROW 1 -->
          <div class="row justify-content-md-center">
            <div class="col-md-3" v-for='book in books'>
              <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title" id="modalTitle">{{book.title}}</h4>
                  <p class="card-text">{{book.author}}</p>
                  <div v-if="idUser === ''"><p style="color: red">Please login to add items</p></div>
                  <div v-else="">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalProduct" v-on:click="openModal(book)">
                      View Specifications
                    </button>
                    <button type="button" class="btn btn-primary" name="button" v-on:click="addToCart(book)">Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <hr>
        </div>
      </div>

      <!-- Modal product -->
      <div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="container">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="row justify-content-md-center">
                <h4>{{modalProducts.title}}</h4>
              </div>
              <div class="row justify-content-md-center">
                <img src="#" alt="product1">
              </div>
              <div class="row justify-content-md-center">
                <div class="col-md-6">
                  <p style="font-weight: bold">Specifications</p>
                  <hr>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nemo explicabo officia odio, nam eaque nisi magni culpa ipsum asperiores quas, neque minima ad, quos vel soluta facere, praesentium porro rem architecto eius ab eligendi pariatur. Saepe modi adipisci sequi corrupti dolores obcaecati minima inventore, hic maiores, suscipit placeat perferendis.</p>
                </div>
                <div class="col-md-6">
                  <form action="#" v-on:submit.prevent="onSubmitProduct" >
                    <div class="form-group">
                      <span>
                        <p style="font-weight: bold">Stock: </p>
                        <p>{{modalProducts.stock}}</p>
                      </span>
                      <label for="inputQuantity">Input Quantity</label>
                      <input type="number" class="form-control" name="quantity" placeholder="Input Quantity" v-model="inputQuantity" v-bind:max="modalProducts.stock" min="0">
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" v-on:click="fromModal(modalProducts)">Add to Cart</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal cart -->
      <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="container">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="row justify-content-md-center">
                <div class="col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Item Name</th>
                        <th>Item Quantity</th>
                      </tr>
                    </thead>
                    <tbody v-for="cart in carts">
                      <tr>
                        <td>{{cart.title}}</td>
                        <td>{{cart.qty}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-md-4">
                  <button type="button" class="btn btn-success" id="proceedPayment">Proceed to Payment</button>
                </div>
                <div class="col-md-4">
                  <button type="button" class="btn btn-primary">Buy More Stuff</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal checkout -->
      <div class="modal fade" id="modalCheckout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="container">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="row justify-content-md-center">
                <div class="col-md-12">
                  <p style="font-weight: bold">Items Summary</p>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Item Name</th>
                        <th>Item Quantity</th>
                      </tr>
                    </thead>
                    <tbody v-for="cart in carts">
                      <tr>
                        <td>{{cart.title}}</td>
                        <td>{{cart.qty}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <form action="#" v-on:submit.prevent="onSubmit">
                    <p style="font-weight: bold">Input Details</p>
                    <hr>
                    <div class="form-group">
                      <label for="address">Your Member Id</label>
                      <input type="text" name="member" class="form-control" id="memberInput" placeholder="Please enter your member ID" value="">
                    </div>
                    <div class="form-group">
                      <label for="address">Your address</label>
                      <input type="text" name="address" class="form-control" id="addressInput" placeholder="Please enter your complete address (including: zipcode, town, region, and country)" value="">
                    </div>
                    <div class="form-group">
                      <label for="contact">Contact person</label>
                      <input type="number" name="phoneNumber" class="form-control" id="contactInput" placeholder="Please enter your complete phone number" value="">
                    </div>
                    <div class="form-group">
                      <label for="contact">Days of borrowing</label>
                      <input type="number" name="days" class="form-control" id="daysInput" placeholder="Please enter how many days you want to borrow the books" value="">
                    </div>
                    <p style="font-weight: bold">Payment Procedure</p>
                    <hr>
                    <p>Please send your payment to:</p>
                    <p>(Bank name) : (Bank account number)</p>
                    <button type="submit" class="btn btn-success" v-on:click="postTransactions(carts)">Complete Order</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal histories -->
      <div class="modal fade" id="modalHistories" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="container">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="row justify-content-md-center">
                <div class="col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Item Name</th>
                        <th>Item Quantity</th>
                      </tr>
                    </thead>
                    <tbody v-for="history in histories">
                      <tr>
                        <td>{{history.title}}</td>
                        <td>{{history.qty}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-md-6">
                  <p style="font-weight: bold">Your shipping address</p>
                  <hr>
                  <p>{{address}}</p>
                  <p style="font-weight: bold">Your contact number</p>
                  <hr>
                  <p>{{phoneNumber}}</p>
                </div>
                <div class="col-md-6">
                  <p style="font-weight: bold">Days borrowing</p>
                  <hr>
                  <h2 style="font-weight: bold; text-align: center">{{days}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal register -->
      <div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: scroll">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="container">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="row justify-content-md-center">
                <div class="col-md-12">
                  <p style="font-weight: bold">Do not have account? Register now:</p>
                  <hr>
                  <form v-on:submit.prevent="onSubmitRegister">
                    <div class="form-group">
                      <label for="inputUsername">Username</label>
                      <input type="text" class="form-control" id="registerUsername" aria-describedby="usernameHelp" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="registerPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <label for="inputName">Your full name</label>
                      <input type="text" class="form-control" id="registerName" aria-describedby="nameHelp" placeholder="Enter full name">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Your address</label>
                      <input type="text" class="form-control" id="registerAddress" aria-describedby="addressHelp" placeholder="Enter full address">
                    </div>
                    <div class="form-group">
                      <label for="inputZipcode">Your zipcode</label>
                      <input type="text" class="form-control" id="registerZipcode" aria-describedby="zipcodeHelp" placeholder="Enter address zipcode">
                    </div>
                    <div class="form-group">
                      <label for="inputPhoneNumber">Your phone number</label>
                      <input type="text" class="form-control" id="registerPhoneNumber" aria-describedby="phoneNumberHelp" placeholder="6 Digit minimum">
                    </div>
                    <button type="submit" class="btn btn-primary" v-on:click="register">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal login -->
      <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="container">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="row justify-content-md-center">
                <div class="col-md-12">
                  <p style="font-weight: bold">Have an account? Sign-in now:</p>
                  <hr>
                  <form v-on:submit.prevent="onSubmitLogin">
                    <div class="form-group">
                      <label for="inputUsername">Username</label>
                      <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-success" v-on:click="login">Log in</button>
                    <button type="button" class="btn btn-primary" id="registerButton">Register</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="footer">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col col-md-12">
              <p style="text-align: center">Copyright by Albert Agung</p>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.js"
    integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- Own Script -->
    <script src="/assets/script/script.js"></script>
  </body>
</html>
